@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap');
body{
    background-color: rgb(194, 212, 250);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    font-family:'Kanit', sans-serif;
    font-weight: 1000;
    font-size: x-large;
    margin: 0;
    padding: 0;
}